QMenuBar {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 lightgray, stop:1 darkgray); 
    color: #00000;
} 
QMenuBar::item { 
    spacing: 3px; 
    padding: 1px 4px;
    background: transparent;
    border-radius: 1px;
}
QMenuBar::item:selected {
    background:#a8a8a8;
}
QMenuBar::item:pressed {
    background: #888888;
}